<div class="row">
  <div class="col-8">
    <h1>NetApp File Upload Utility</h1>
    <br>NetApp takes data security seriously. <a target="_blank" href="https://support.netapp.com/info/web/ECMP1138936.html">Learn More</a> about our data security policies.
    <small id="emailHelp" class="form-text text-muted">In order to associate your file with your case, please enter the 10 digit case number and press 'Validate'. Validation can take a few seconds.</small>
    <div class="input-group mb-3">
      <input appNumberInput required type="text" class="form-control" id="caseNumber" placeholder="Case Number" autocomplete="off" spellcheck="false" minlength="10" maxlength="10" name="caseNumber" [(ngModel)]="upload.caseNumber" #caseNumber="ngModel"/>
      <div class="input-group-append">
        <button (click)="validate()" [disabled]="caseNumber.invalid" type="button" class="btn btn-outline-primary">Validate</button>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input [disabled]="!upload.caseNumberValid || caseNumber.invalid" type="file" class="custom-file-input" id="validatedCustomFile" (change)="handleFileInput($event.target.files)" required placeholder="Choose file...">
        <label class="custom-file-label" for="validatedCustomFile"><div [hidden]="!upload.caseNumberValid || upload.file.name.length > 0">Choose File</div><div [hidden]="upload.file.name.length == 0">{{upload.file.name}}</div></label>
      </div>
      <div class="input-group-append">
        <button [disabled]="upload.file.name.length == 0 || !upload.caseNumberValid || caseNumber.invalid" class="btn btn-outline-primary" (click)="uploadFile()">Upload</button>
      </div>
    </div>
    <p>
      <ngb-progressbar *ngIf="upload.message.progress > 0 && upload.message.progress < 100" [showValue]="true" type="info" [value]="upload.message.progress" [striped]="true" [animated]="true"></ngb-progressbar>
    </p>
    <ngb-alert *ngIf="upload.message.text" [dismissible]="false" [type]="upload.message.type">
      {{upload.message.text}}
    </ngb-alert>
  </div>
  <div class="col-4">
    <div class="instructions">
      <h3>File Upload Instructions</h3>
      <ul class="instructions_list">
        <li class="no_bullet"><strong>Note: </strong>As soon as a core file starts an upload, it is checked for known issues. If there is a match, the core file transfer will be stopped. If NetApp support personnel still request this core file, you must check the "Override core file validation" checkbox - they will provide the override password to proceed with the core upload.</li>
        <li class="no_bullet">For more information, see Knowledgebase article <a href="https://kb.netapp.com/support/index?page=content&amp;id=1010090" target="_blank">1010090</a></li>
      </ul>
    </div>
  </div>
</div>
